.iphone {
  position: relative;
  overflow: hidden;
  background: #fff;
  border: solid #0d0d10;

  $width: 15.7em;

  width: $width; height: ($width*1.78);
  border-width: ($width*0.36) ($width*0.094);
  border-radius: ($width*0.154);

  &.horizontal {
    width: ($width*1.78); height: $width;
    border-width: ($width*0.094) ($width*0.36);
  }
}
.iphone { margin:30px auto }